<header id="header">
    <div class="icon">
      <img src="../../images/logo.png" class="icon" />
    </div>
    <div class="title">
      Mediasphere Assistant
    </div>
    <div class="signin">
      Sign In
    </div>
  </header>
  