<nav id="sidebar">
  <a href="/home" class="active">Home</a>
  <!-- <a href="/">Contact</a> -->
  <a href="/info">Info</a>
  <a href="/statistics">Statistics</a>
  <!-- <a href="/home">Check In / Out</a> -->
</nav>
